*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12{
    padding: 15px;
}

.t-seller, .festive, .category, .choice, .trend, .must, .character,
.kid, .winter, .top, .style, .benefit{
    padding: 30px;
}

.slider-img{
    line-height: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
}

.festive img{
    height: 50%;
    width: 20%;
}

.swipe img{
    width: 100%;
}

.l-section{
    background-color: #ecedeb;
}

.l-section h6{
    line-height: 30px;
    /* margin-top: 10px; */
}

.trend-img img, .must-img img, .character-img img, .style-img img{
    width: 25%;
}

.benefit-img img{
    width: 33%;
}

.benefit-1{
    padding: 70px;
}
/* .carousel-indicators {
   
    bottom: -570px !important;
    
}
.carousel-control-next, .carousel-control-prev {
    bottom: -600px !important;
} */


