/* mobile vertical */
@media (max-width:575px) {
    .col-xs-1{
        width: 8.3333%;
    }
    .col-xs-2{
        width: 16.6666%;
    }
    .col-xs-3{
        width: 25%;
    }
    .col-xs-4{
        width: 33.3333%;
    }
    .col-xs-5{
        width: 41.6666%;
    }
    .col-xs-6{
        width: 50%;
    }
    .col-xs-7{
        width: 58.3333%;
    }
    .col-xs-8{
        width: 66.6666%;
    }
    .col-xs-9{
        width: 75%;
    }
    .col-xs-10{
        width: 83.3333%;
    }
    .col-xs-11{
        width: 91.6666%;
    }
    .col-xs-12{
        width: 100%;
    }
    .container{
        max-width: 100%;
    }
}
/* mobile horizontal  */
@media (min-width:576px) and (max-width:767px) {
    .col-sm-1{
        width: 8.3333%;
    }
    .col-sm-2{
        width: 16.6666%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33.3333%;
    }
    .col-sm-5{
        width: 41.6666%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: 58.3333%;
    }
    .col-sm-8{
        width: 66.6666%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-10{
        width: 83.3333%;
    }
    .col-sm-11{
        width: 91.6666%;
    }
    .col-sm-12{
        width: 100%;
    }
    .container{
        max-width: 540px;
    }
}
/* tablet  */
@media (min-width:768px) and (max-width:991px){
    .col-md-1{
        width: 8.3333%;
    }
    .col-md-2{
        width: 16.6666%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.3333%;
    }
    .col-md-5{
        width: 41.6666%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.3333%;
    }
    .col-md-8{
        width: 66.6666%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-10{
        width: 83.3333%;
    }
    .col-md-11{
        width: 91.6666%;
    }
    .col-md-12{
        width: 100%;
    }
    .container{
        max-width: 720px;
    }
}
/* laptop   */
@media (min-width:992px) and (max-width:1199px){
    .col-lg-1{
        width: 8.3333%;
    }
    .col-lg-2{
        width: 16.6666%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33.3333%;
    }
    .col-lg-5{
        width: 41.6666%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.3333%;
    }
    .col-lg-8{
        width: 66.6666%;
    }
    .col-lg-9{
        width: 75%;
    }
    .col-lg-10{
        width: 83.3333%;
    }
    .col-lg-11{
        width: 91.6666%;
    }
    .col-lg-12{
        width: 100%;
    }
    .container{
        max-width: 960px;
    }
}
/* desktop  */
@media (min-width:1200px) {
    .col-xl-1{
        width: 8.3333%;
    }
    .col-xl-2{
        width: 16.6666%;
    }
    .col-xl-3{
        width: 25%;
    }
    .col-xl-4{
        width: 33.3333%;
    }
    .col-xl-5{
        width: 41.6666%;
    }
    .col-xl-6{
        width: 50%;
    }
    .col-xl-7{
        width: 58.3333%;
    }
    .col-xl-8{
        width: 66.6666%;
    }
    .col-xl-9{
        width: 75%;
    }
    .col-xl-10{
        width: 83.3333%;
    }
    .col-xl-11{
        width: 91.6666%;
    }
    .col-xl-12{
        width: 100%;
    }
    .container{
        max-width: 1140px;
    }
}

@media (max-width:575px){
    .t-seller, .festive, .category, .choice, .trend, .must, .character,
    .kid, .winter, .top, .style, .benefit{
    padding: 30px;
    }
    .slider img, .trend1 img, .t-sell img,.category img, .choice img, .trend img,
    .must img, .character img, .kid img, .winter img, .top img, .style img, .benefit img{
        width: 100%;
    }
    .category .l-section{
        display: flex;
        background-color: #ecedeb;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    .category .r-section{
        width: 100%;
    }
    .category .r-section-img, .trend .trend-img, .must .must-img, .character .character-img,
    .kid .kid-img, .winter .winter-img, .style .style-img, .benefit .benefit-img{
        display: grid;
        grid-template-columns: auto;
    } 
    .benefit-1 .section-1, .benefit-1 .section-2{
        width: 100%;
    }
    .category .l-section, .category .r-section{
        margin-top: 5px;
    }
    .Nav{
        width: 100%;
    }
    .toggle{
        margin-left: 30px;
    }
    .nav-items, .navform, .signin, .cart{
        display: none;
    }
}

@media (min-width:576px) and (max-width:767px){
    .slider img, .trend1 img, .t-sell img,.category img, .choice img, .trend img,
    .must img, .character img, .kid img, .winter img, .top img, .style img, .benefit img{
        width: 100%;
    }
    .category .r-section-img, .trend .trend-img, .must .must-img, .character .character-img,
    .kid .kid-img, .winter .winter-img, .style .style-img, .benefit .benefit-img{
        display: grid;
        grid-template-columns: auto;
    } 
    .category .l-section{
        display: flex;
        background-color: #ecedeb;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    .category .r-section{
        width: 100%;
    }
    .category .l-section, .category .r-section{
        margin-top: 5px;
    }
    .benefit-1 .section-1, .benefit-1 .section-2{
        width: 100%;
    }
    .Nav{
        width: 100%;
    }
    .toggle{
        margin-left: 30px;
    }
    .nav-items, .navform, .signin, .cart{
        display: none;
    }
}

@media (min-width:768px) and (max-width:991px){
    .slider img, .trend1 img, .t-sell img,.category img, .choice img, .trend img,
    .must img, .character img, .kid img, .winter img, .top img, .style img, .benefit img,
    .footer-main{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .category .r-section-img, .trend .trend-img, .must .must-img, .character .character-img,
    .kid .kid-img, .style .style-img{
        display: grid;
        grid-template-columns: auto auto;
    } 
    .winter .winter-img, .benefit .benefit-img{
        display: grid;
        grid-template-columns: auto;
    }
    .benefit-1 .section-1, .benefit-1 .section-2{
        width: 100%;
    }
    .Nav{
        width: 100%;
    }
    .toggle{
        margin-left: 30px;
    }
    .nav-items, .navform, .signin, .cart{
        display: none;
    }
}

@media (min-width:992px) and (max-width:1199px){
    .slider img, .trend1 img, .t-sell img, .choice img, .top img{
        width: 100%;
    } 
    .character .char-img img{
        width: 100%;
    }
    .winter .winter-img{
        display: grid;
        grid-template-columns: auto auto;
    }
    .kid .kid-img{
        display: grid;
        grid-template-columns: auto auto auto;
    } 
    .Nav{
        width: 100%;
    }
    .Nav .toggle span{
        display: none;
    }

}
@media (min-width:1200px){
    .slider img, .trend1 img, .t-sell img, .choice img, .top img{
        width: 100%;
    } 
    .character .char-img img{
        width: 100%;
    }
    .Nav .toggle span{
        display: none;
    }
}